<% if @result %>
	$('.task-title-<%= @task.id %>').html("<%= @task.title %>");

	$('#editTask').modal('hide');

	$(':input','#new_task')
	  .not(':button, :submit, :reset, :hidden')
	  .val('')
	  .removeAttr('checked')
	  .removeAttr('selected');

	$("#task-count").html('<%= current_user.tasks.count %>');
	$("#flash-section").html('<div class="alert alert-success">' + '<%= flash[:success] %>' + '</div>');
	$("#flash-error").empty();
<% else %>
	<% if !@task.title.presence %>
		$("#flash-error").html('<div class="alert alert-danger">Title must be present</div>');
	<% elsif @task.title.presence %>
		$("#flash-error").html('<div class="alert alert-danger">Title cannot be longer than 140 characters</div>');
	<% end %>
	$("#flash-section").empty();
<% end %>