<footer class="footer">
  <small>
    My Lab
    by <a href="http://mwkim.net76.net/">Minwoo Kim</a>
  </small>
  <nav>
    <!-- <ul> -->
      <!-- <li><%= link_to "Contact", '#' %></li> -->
    <!-- </ul> -->
  </nav>
</footer>